# Global directories
__pycache__/
.ipynb_checkpoints/
.virtual_documents/
*.egg-info/

# Root directories
/.benchmarks/
/.env/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.spyproject/
/backend/dist/
/dist/
/site/
/docs/build/
/docs/_build/

/.coverage*

# macOS
.DS_Store

# Local scratch files (ignored)
DCMotor_measurements.h5
README.html
example.json
foo.py
matplt_test.py
pippo.vim
pluto.vim
startuptime.log
statistics_test_script.py
vim-startup.log
xxx.py
